In [5]:
# Selection Sort
def sortUsingSelection(numberList):
  for idx in range(0,len(numberList)-1):
    currIdx=idx
    for target in range(idx+1,len(numberList)):
      if numberList[target] < numberList[currIdx]:
        currIdx = target
    temporary = numberList[idx]
    numberList[idx] = numberList[currIdx]
    numberList[currIdx] = temporary
    print(numberList)

numbers = [5,1,4,2,8,10,3]
sortUsingSelection(numbers)
print(numbers)

[1, 5, 4, 2, 8, 10, 3]
[1, 2, 4, 5, 8, 10, 3]
[1, 2, 3, 5, 8, 10, 4]
[1, 2, 3, 4, 8, 10, 5]
[1, 2, 3, 4, 5, 10, 8]
[1, 2, 3, 4, 5, 8, 10]
[1, 2, 3, 4, 5, 8, 10]

In [2]:
# Tuple
monthTuple = ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Agustus')

# aksses nilai
print("monthTuple[0]: ", monthTuple[0])
print("monthTuple[2:4]: ", monthTuple[2:4])

monthTuple[0]:  Januari
monthTuple[2:4]:  ('Maret', 'April')

In [3]:
# update nilai Tuple
otherTuple = ('Oktober', 'November', 'Desember')
newMonthTuple = monthTuple + otherTuple
print(newMonthTuple)

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Agustus', 'Oktober', 'November', 'Desember')

In [6]:
# hapus nilai Tuple
tup = ('keyboard', 'mouse', 1, 3)
print(tup)

del tup

tup = ('speaker', 'tws', 100, 300)
print('setelah menghapus tuple :', tup)

('keyboard', 'mouse', 1, 3)
setelah menghapus tuple : ('speaker', 'tws', 100, 300)

In [7]:
# Dictionary
mahasiswa = {'nama': 'Victor', 'umur': 21, 'nim': 'G.231.22.0083'}
print("mahasiswa['nama']: ", mahasiswa['nama'])
print("mahasiswa['nim']: ", mahasiswa['nim'])

mahasiswa['nama']:  Victor
mahasiswa['nim']:  G.231.22.0083

In [9]:
# Update Dictionary
mahasiswa = {'nama': 'Victor', 'umur': 21, 'nim': 'G.231.22.0083'}
mahasiswa['umur'] = 20
mahasiswa['jurusan'] = 'Teknik Informatika'

print("mahasiswa['umur']: ", mahasiswa['umur'])
print("mahasiswa['jurusan']: ", mahasiswa['jurusan'])

mahasiswa['umur']:  20
mahasiswa['jurusan']:  Teknik Informatika

In [11]:
# Hapus Elemen Dictionary
mahasiswa = {'nama': 'Victor', 'umur': 21, 'nim': 'G.231.22.0083'}

del mahasiswa['nama']
print("mahasiswa['nama'] dihapus sehingga mahasiswa menjadi: ", mahasiswa)
mahasiswa.clear()
print("mahasiswa di clear() sehingga mahasiswa menjadi: ", mahasiswa)
del mahasiswa

# akan error karena mahasiswa sudah dihapus
# print("mahasiswa['umur']: ", mahasiswa['umur'])
# print("mahasiswa['jurusan']: ", mahasiswa['jurusan'])

mahasiswa['nama'] dihapus sehingga mahasiswa menjadi:  {'umur': 21, 'nim': 'G.231.22.0083'}
mahasiswa di clear() sehingga mahasiswa menjadi:  {}